<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="display: flex;">

      </ul>

      <div *ngIf = "loggedIn === null; else elseBlock">

      </div>
      <ng-template #elseBlock>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item >
            <a routerLink="/logout" class="nav-link">Logout</a>
          </button>
        </mat-menu>
      </ng-template>

    </div>
  </div>
</header>

<div class="offcanvas offcanvas-start" tabindex="1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav col-12 col-lg-auto mb-2  mb-md-0">
      <li><a routerLink="/" class="nav-link px-2 link-dark">Home</a></li>
      <li><a routerLink="/post" class="nav-link px-2 link-dark">Post</a></li>
      <li><a routerLink="/login" class="nav-link px-2 link-dark">Login</a></li>
      <li><a routerLink="/post-album" class="nav-link px-2 link-dark">Photo Album</a></li>
      <li><a routerLink="/logout" class="nav-link px-2 link-dark">Logout</a></li>
    </ul>
  </div>
</div>
